@font-face {
    font-family: "goth-bold";
    src: url("../font/SpecialGothicExpandedOne-Regular.ttf");
}

@font-face {
    font-family: "goth-thin";
    src: url("../font/SpecialGothic-Regular.ttf");
}



body {
    background-color: rgb(255, 255, 255);
    background-image: url(../vatten.jpeg);
    background-position: center;
    background-size: cover;
}

#alfa-div {
    margin: 20px 60px;
    display: flex;
    gap: 20px;
}

.div123 {
    width: 100vw;
    background-color: #C8DCBE;
    display: flex;
    flex-direction: column;

    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}


/* DIV 1 */
#div1 {
    height: 500px;
}

h1 {
    text-align: center;
    color: #55903B;
    font-family: goth-bold;
}

#cities-div {
    flex-grow: 1;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.city-div {
    background-color: #7EAF67;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    margin: 10px 10px 0;
    min-height: 60px;
}

.city-p {
    margin: 20px;
    font-weight: 100;
    font-family: goth-thin;
}

.delete-b {
    background-color: #c68080;
    border-radius: 10px;
    height: 25px;
    margin-right: 10px;
    border: 1px solid #913838;
    font-family: goth-thin;
}

.delete-b:hover {
    background-color: #d88a8a;
}




/* DIV 2 */
#div2 {
    height: 350px;
    align-items: center;
}

.input-div {
    background-color: #7EAF67;
    margin: 20px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    border: 1px solid #4e6f3f;
}

input {
    border: none; 
    border-bottom: 1px solid white; 
    outline: none; 
    padding: 5px;
    background-color: #7EAF67;
    color: white;
    font-size: 16px;
    margin: 10px;
    font-family: goth-thin;
}

input:focus {
    border-bottom: 2px solid #4e6f3f;
}

.buttons {
    background-color: #E4F4E1;
    min-height: 40px;
    min-width: 200px;
    border-radius: 20px;
    border: 2px solid #4e6f3f;
    font-size: 16px;
    margin: 10px 0 10px;
    font-family: goth-thin;
}

.buttons:hover {
    background-color: #ffffff;
}

#message-p {
    font-family: goth-thin;
    font-size: 12px;
    color: #bb4855;
}



/* DIV 3 */
#div3 {
    align-items: center;
    height: 600px;
}

#search-country-input {
    margin-bottom: 30px;
}

#searched-cities {
    background-color: #7EAF67;
    width: 90%;
    height: 300px;
    margin: 20px 10px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    border-radius: 5px;
}

#no-found-cities-message-p {
    font-family: goth-bold;
    color: #913838;
    text-align: center;
}



/* FÄRGER:
/* #E4F4E1, #C8DCBE, #A5C695, #7EAF67, #55903B